<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>swift-- {% block title%} {% endblock %}</title>
<link href="/media/css/base.css" rel="stylesheet" type="text/css"  />
{%block css%} {% endblock%}
</head>

<body>
{% include "head.html"%}
<div id="wrapper">
  <div id="content"> {% block content %} {% endblock%} </div>
</div>
{% include "footer.html"%}
</body>
</html>
