{%extends "base.html"%}
{%block title%} home {%endblock%}
{%block css%} 
<link href="/media/css/tables.css" rel="stylesheet" type="text/css"   />

{%endblock%}

{%block content%}

<h1>/home</h1>
<div id="tool_bar">
    <a href="javascript:window.history.go(-1)"><img src="/media/images/upper.png" width="20" height="15" />返回</a>
    <a href="/create"><img src="/media/images/create.png" width="20" height="15" />新建文件夹</a>
    <a href="javascript:location.reload()"><img src="/media/images/reflash.png" width="20" height="15" />刷新</a>
    <a href="/logout">退出</a>
</div>
<table width="900" border='1'>
	<tr>
<th>文件夹名称</th><th>大小</th><th>文件数</th><th>操作</th></tr>
    {% for c in containers %}
	
    <tr >
		<td><img src="/media/images/dir.png" width="22" height="17" /><a href="/home/{{c.name}}">{{c.name}}</a></td>
		<td>{{c.bytes|filesizeformat }} </td><td>{{c.count}}</td>
		<td><a href="/home/{{c.name}}/delete" onclick="javascript:return confirm('确认删除？？')">删除</a></td>
	</tr>
		{% empty %}
		<tr><td cols='2'>there is no containers in this account..</td></tr>
    {% endfor %}
</table>
{%endblock%}
