{%extends "base.html"%}
{%block title%} create {%endblock%}
{%block css%} 

{%endblock%}

{%block content%}
<h1>/home/{{container|default_if_none:""}}/{{p|default_if_none:""}}:&nbsp;&nbsp;新建文件夹</h1>
<form method="POST" >
  文件夹:
  <input type="text" name="c"/>
  <input type="submit" value="创建" />
</form>
{% endblock %} 