{%extends "base.html"%}
{%block title%} create {%endblock%}
{%block css%}
<link href="/media/css/tables.css" rel="stylesheet" type="text/css"  />
<script type="text/javascript" src="/media/js/jquery-1.6.min.js" ></script> 
<script>

function addLine(){
	$("#meta-list").append("<tr><td><input type='text' name='meta-key'/></td><td><input type='text' name='meta-value'/></td></tr>");
	
}
</script> 
{%endblock%}

{%block content%}
<h1>/<a href="/home">home</a>/<a href="/home/{{container}}">{{container}}</a>/<a href="/home/{{container}}/{{object}}">{{object}}</a>: Edit</h1>
<div id="tool_bar">
    <a href="javascript:window.history.go(-1)"><img src="/media/images/upper.png" width="20" height="15" />返回</a> 
    
  <a href="javascript:location.reload()"><img src="/media/images/reflash.png" width="20" height="15" />刷新</a>
    <a href="/logout">退出</a>
</div>
<div style="width:900px;float:left;">
<form method="POST" >
  <table id="meta-list">
    <tr>
      <td colspan="2"><input type="button" value="新增" onClick="javascript:addLine();"/>
      <input type="submit" value="更新" id="submit" /></td>
    </tr>
 
    <tr>
      <th>Meta-key</th>
      <th>Meta-value</th>
    </tr>
    {%for meta in metas %}
    <tr>
      <td><input type="text" value="{{meta.key}}" name="meta-key"/></td>
      <td><input type="text" value="{{meta.value}}" name="meta-value" /></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">No meta data....</td>
    </tr>
    {% endfor %}
  </table>
</form>
</div>
{% endblock %} 