<div id="wrapper-head">
	<div id="head">
    	<div class="fleft">
        	<a href="/home"><p style="font-size:20px;font-weight:bold;">swift-web</p></a>
        </div>
        <div class="rleft">
            <a href="/logout">退出</a>
            <a href="/home">根目录</a>
        </div>
    </div>
</div>
