{%extends "base.html"%}
{%block title%} home {%endblock%}
{%block css%}
<style>
#loginform{
	width: 667px;
	height: 329px;	
	background:url(/media/images/login-bg.png) no-repeat;
	padding: 30px 45px;
	margin: 10px auto;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}
</style>
{%endblock%}

{%block content%}
<div id="loginform"><h1>login</h1>
  <form action="" method="post">
    <table width="500" border="0">
      <tr>
        <td width="230" align="right">用户名 &nbsp;&nbsp;:</td>
        <td width="260"><input type="text" name="username" value="account:user" style="height:30px;width:150px;"/></td>
      </tr>
      <tr>
        <td  align="right">密码&nbsp;&nbsp;:</td>
        <td><input type="password" name="password" style="height:30px;width:150px;"/> </td>
      </tr>
      <tr>
        <td>&nbsp;</td><td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <p>
            <input type="submit" value="signIn" style="width:80px;height:40px"/>
          </p>
          <p>            <span style="font-size:8px;color:#F00;">{{login_msg}}</span></p></td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}