
{%extends "base.html"%}
{% load tags %}
{%block title%} home {%endblock%}
{%block css%}
<link href="/media/css/tables.css" rel="stylesheet" type="text/css"  />
{%endblock%}

{%block content%}
<h1>/<a href="/home">home</a>/<a href="/home/{{container}}">{{container}}</a>/<a href="/home/{{container}}/?p={{p}}">{{p|default_if_none:""}}</a></h1>
<div id="tool_bar">
    <a href="javascript:window.history.go(-1)"><img src="/media/images/upper.png" width="20" height="15" />返回</a> 
    <a href="/home/{{container}}/upload/?p={{p|default_if_none:""}}"><img src="/media/images/upload.png" width="20" height="15" />上传</a>
  <a href="/home/{{container}}/create/?p={{p|default_if_none:""}}"><img src="/media/images/create.png" width="20" height="15" />新建文件夹</a> 
  <a href="javascript:location.reload()"><img src="/media/images/reflash.png" width="20" height="15" />刷新</a>
    <a href="/logout">退出</a>
</div>
<table width="800" border='1'>
  <tr>
    <th width="216">文件名称</th>
    <th width="159">类型</th>
    <th width="155">大小</th>
    <th width="132">修改时间</th>
    <th width="104">操作</th>
  </tr>
  {% for o in objects|dictsort:"content_type" %}
  {%if not o.size == "0" and o.content_type == 'application/directory'%}{%comment %} direction {%endcomment%}
  <tr>
    <td><img src="/media/images/dir.png" width="22" height="17" /><a href="/home/{{container}}/?p={{o.name}}">{{o.name|baseName}}</a></td>
    <td>文件夹</td>
    <td>-</td>
    <td>{{o.last_modified}}</td>
    <td>
    <a href="/home/{{container}}/{{o.name}}/edit" >编辑</a> 
    <a href="/home/{{container}}/{{o.name}}/delete" onClick="javascript:return confirm('确认删除？？')">删除</a>
    </td>
  </tr>
  {%else%}
  <tr>
    <td><img src="/media/images/file.png" width="22" height="17" /><a href="/home/{{container}}/{{o.name}}">{{o.name|baseName}}</a></td>
    <td>{{o.content_type}}</td>
    <td>{{o.bytes|filesizeformat}}</td>
    <td>{{o.last_modified}}</td>
    <td>
    <a href="/home/{{container}}/{{o.name}}/edit" >编辑</a> 
    <a href="/home/{{container}}/{{o.name}}/delete" onClick="javascript:return confirm('确认删除？？')">删除</a>
    </td>
  </tr>
  {% endif %}
  {% empty %}
  <tr>
    <td colspan="5" align="center">无内容</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}