{%extends "base.html"%}
{%block title%} home {%endblock%}
{%block css%} 

{%endblock%}

{%block content%}
<h1>/<a href="/home">home</a>/<a href="/home/{{container}}">{{container}}</a>/<a href="/home/{{container}}/?p={{p}}">{{p|default_if_none:""}}</a> : upload</h1>
<form method="POST" enctype="multipart/form-data">
<label>选择文件</label><input type="file" name="object"/><br/>

<br/><br/>
<input type="submit" value="Upload It!" />
</form>
{% endblock %}