*{padding:0px;margin:0px;}

em, i, q, cite, address {
    font-style: normal;
}

body{
	font-size:12px;
	text-align:center;
	background:url(../images/main-bg.png) ;
}
a{
	text-decoration:none;
	color:#272E7E;
}
a:hover{
	text-decoration:underline;
	color:#45C7EE;
}

h1,h2,h3,h4,h5{
	padding:15px 0px;
	font-size:16px;
	font-weight:bold;
	line-height:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
}
h1.inline,h2.inline,h3.inline,h4.inline{
	display:inline;
}
.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.inline{display:inline;}
.fleft{
	float:left;}
.fright{
	float:right;}

/* ------------------------------------------------------------------*/
#wrapper{
	margin:0 auto;
	width:900px;
	text-align:left;
}
#content{
	min-height:500px;
}
#wrapper-head{
	width:100%;	
	height:30px;
	padding-top:15px;
	background:url(../images/head-bg.png) repeat-x #000;
}
#head{
	width:900px;
	text-align:right;
	display:block;
	margin:0 auto;
}
#head a{
	color:#CCC;
}
#search{
	width:100%;
	padding:5px 0 10px 0;
}
#search input.q{
	width:700px;
	height:25px;
	padding:5px 0;
}
#tool_bar{
    padding-bottom: 3px;
    padding-left: 0;
    padding-top: 4px;
	margin-bottom:20px;
    width: 570px;
}
#tool_bar img{
	float:left;
}
#tool_bar a{
    border: medium none;
    color: #0095CD;
    cursor: pointer;
    display: block;
    float: left;
    height: 20px;
	padding:5px;
    margin-right: 8px;
	font-weight:bold;
}

#footer{
	border-top: 1px dashed #CCCCCC;
    padding: 12px 0 0;
	background-color: rgba(255, 255, 255, 0.6);
    margin: 20px auto 0;
    padding: 10px 20px;
    width: 910px;
	height:40px;
}

/*---{---feature_list---------*/
.feat_list{
	width:100%;
	height:50px;
	margin:5px 0px;
	padding:10px 0px 0px;
	border:1px solid #A6BCE5;
	list-style:none;
}
.feat_list li{
	color:#FF9900;
	float:left;
	padding:0px 15px;
	border-right:solid 1px #A6BCE5;
}
.feat_list li a{
	font-size:14px;
	color:#FF9900;
}
/*------feature_list}---------*/

/*---nav----*/
#nav{
	width:100%;
	height:30px;
}

/*------comment------------*/
.cmt{
	width:100%;
	margin-top:20px;
	padding:0 0 10px 0;
	border-top: 1px solid #DDDDDD;
	display:block;
}

.cmt dt{
	padding:10px 0px 0px 0px;
	font-weight:bold;
	font-size:14px;
}
.cmt dd{
	padding:5px 5px;
	width:100%;
}
.cmt span.score{
	font-size:17px;
	font-weight:bold;
	padding:0px 5px 0px;
	color:#FF9900;
}
.cmt dd.c{
	width:80%;
	display:block;
}
.cmt dd.date{
	margin-top:10px;
	color:#666666;
	font-size:12px;
	text-align:right;
}


BG{color:black;}
TP{color:red;}
SO{color:blue;}
ADV{color:green;}

.symbol_left, .symbol_right {
    color: #BFBFBF;
    display: inline-block;
    font-size: 40px;
    height: 18px;
    line-height: 18px;
    margin-top: 15px;
    vertical-align: middle;
}