
table{
	width:100%;
	font-size:13px;
	border-collapse:collapse;
	table-layout:auto;
	vertical-align:top;
	margin-bottom:15px;
	border:1px solid #B4C1CA;
	}

table th{
	background-color:#F1F7FA;
	border:1px solid #B4C1CA;
	border-collapse:collapse;
	text-align:center;
	table-layout:auto;
	vertical-align:middle;
	}

table td{
	vertical-align:top;
	border-collapse:collapse;
	border-left:1px solid #B4C1CA;
	border-right:1px solid #B4C1CA;
	background:#FFF;
	}
	
table th, table td{
	padding:5px;
	border-collapse:collapse;
	}

table tr.light{
	color:#666666;
	background-color:#F7F7F7;
	}

table tr.dark{
	color:#666666;
	background-color:#E8E8E8;
	}
table ul.errorlist{
	color:red;
	list-style:none;
	font-weight:bold;
}